<!--<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>vue</title>
      <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/vue"></script>
   </head>
   <body>
      <style>
         body {
            height: 100vh;
         }
      </style>

      <div id="root">
         <ol>
            <todo-item
               v-for="item in groceryList"
               v-bind:todo="item"
            ></todo-item>
         </ol>
      </div>
      <script>
         Vue.component('todo-item', {
            props: ['todo'],
            template: '<li>{{todo.text}}</li>',
         });

         let app = new Vue({
            el: '#root',
            data: {
               groceryList: [
                  {
                     id: 0,
                     text: 'Vegetables',
                  },
                  {
                     id: 1,
                     text: 'Cheese',
                  },
                  {
                     id: '2',
                     text: 'Milk',
                  },
               ],
            },
         });
      </script>
   </body>
</html>
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>VUE</title>
      <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/vue"></script>
   </head>
   <body>
      <div id="vue-app" class="">
         Now this the root element in VUE
         <h1>{{greet()}}</h1>
         <h1>{{name}}</h1>
         <p>{{job}}</p>
      </div>
      <script src="script.js"></script>
   </body>
</html>-->
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>VUE</title>
      <script src="https://cdn.jsdelivr.net/npm/vue"></script>
      <link rel="stylesheet" href="./style.css" />
   </head>
   <body>
      <div id="app">
         <div class="product">
            <div class="product-image">
               <img :src="image" />
            </div>

            <div class="product-info">
               <h1>{{product}}</h1>
               <p v-show="inStock">In Stock</p>
               <ul>
                  <li v-for="detail in details">{{detail }}</li>
               </ul>

               <div
                  v-for="variant in variants"
                  class="color-box"
                  :style="{ backgroundColor: variant.variantColor}"
                  @mouseover="updateProduct(variant.variantImage)"
               ></div>

               <button @click="addToCart">
                  Add to cart
               </button>
               <!-- <button @click="removeFromCart" v-if="cart > 0">
                  Remove from Cart
               </button>-->
               <div class="cart">
                  <p>Cart({{cart}})</p>
               </div>
            </div>
         </div>
      </div>

      <script src="./script.js" defer></script>
   </body>
</html>
